/*Instructions: The web page should contain:
• The background color should be black
• The heading color should be changed to red and the size to 30 pixels
• The hyperlink default color should be changed to white. When the cursor hovers over the
hyperlink, it should change to bold
• Images should have a width of 300 pixels, a double border with a size of 2 pixels, padding
with a size of 1 pixel, and colored grey
• The paragraph color should be changed to white
• The unordered list should not contain bullets and should have a color of white
*/


body {background-color: black;}

h1{
    color: red;
    size: 30px;
}

a{
    color: white;
}

a:hover{
    font-weight: bold;
}